html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: "spaceagecyrillic";
    src: url('../fonts/spaceagecyrillic-regular.ttf') format('woff');
}

.block-img {
    background-color: bisque;
    padding-bottom: 100px;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-family: 'spaceagecyrillic';
    font-size: 48px;
    color: greenyellow;
    margin-bottom: 40px;
    cursor: pointer;
    display: inline-block;
   
}

.title:hover {
    color: crimson;
    transition: all 0.4s;
}

.line {
    border: 3px solid greenyellow;
    padding: 5px 5px;
    border-radius: 25%;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.line:hover {
    border-color: crimson;
    transition: all 0.4s;
}

